In [33]:
from pyspark.sql import SparkSession
import os
import pandas as pd

In [34]:
spark = SparkSession.builder.appName('NYT_Articles').getOrCreate()

In [35]:
# combine csvs then write to combined csv
path =r'Data/NYT Articles'
all_files = glob.glob(os.path.join(path, "*.csv"))
NYT_Articles_combined = pd.concat((pd.read_csv(f) for f in all_files))
NYT_Articles_combined = NYT_Articles_combined[['Country','Headlines','Snippets','Year']]
NYT_Articles_combined.head()

,Country,Headlines,Snippets,Year
0,Norway,"In Norway, Fighting the Culling of Reindeer Wi...",A young indigenous Sami reindeer herder is sui...,2017
1,Norway,"In Certifiably Happy Norway, a Cranky Traveler...",Charming villages. Inventive meals. A gorgeous...,2017
2,Norway,‘It Was a Blood Bath’: Freight Trains Kill 110...,"Animal advocacy groups urge speed limits, new ...",2017
3,Norway,"As Wild Salmon Decline, Norway Pressures Its G...",New rules to combat sea lice have angered Norw...,2017
4,Norway,Right-Wing Populist Is Blocked From Joining No...,"The politician, Carl I. Hagen, opposes immigra...",2017

In [36]:
NYT_Articles_combined.to_csv("Data/NYT Articles/NYT_Articles_Combined.csv")

In [ ]:
# import csv